@import "../../styles/vars.less";

// 尺寸
@btn-height-default: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;

// 字号
@btn-font-size-default: @font-size-base;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-sm;

// 圆角
@btn-border-radius: @border-radius-base;
@btn-shape-border-radius-default: (@btn-height-default / 2);
@btn-shape-border-radius-lg: (@btn-height-lg / 2);
@btn-shape-border-radius-sm: (@btn-height-sm / 2);

// Border
@btn-border-width: @border-width-base;
@btn-border-style: @border-style-base;

// 主色
@btn-color-primary: @color-primary;
@btn-color-primary-hover: @color-primary-hover;
@btn-color-primary-active: @color-primary-active;
@btn-color-primary-disabled: @color-primary-disabled;

// 警告
@btn-color-warning: @color-warning;
@btn-color-warning-hover: @color-warning-hover;
@btn-color-warning-active: @color-warning-active;
@btn-color-warning-disabled: @color-warning-disabled;

// 危险
@btn-color-danger: @color-danger;
@btn-color-danger-hover: @color-danger-hover;
@btn-color-danger-active: @color-danger-active;
@btn-color-danger-disabled: @color-danger-disabled;

// 成功
@btn-color-success: @color-success;
@btn-color-success-hover: @color-success-hover;
@btn-color-success-active: @color-success-active;
@btn-color-success-disabled: @color-success-disabled;


// @btn-default-color: @black;
// @btn-default-bg: @grey-300;
// @btn-default-bg-hover: @grey-A100;
// @btn-default-border: @border-color-base;


// @btn-default-ghost-color: @component-background;
// @btn-default-ghost-bg: transparent;
// @btn-default-ghost-border: @component-background;

// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: @btn-padding-horizontal-base;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

// @btn-circle-size: @btn-height-base;
// @btn-circle-size-lg: @btn-height-lg;
// @btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-icon-font-size: 20px;
// @btn-icon-font-size-lg: @btn-icon-font-size + 2px;
// @btn-icon-font-size-sm: @btn-icon-font-size - 2px;

// @btn-group-border: @primary-color;

// @btn-link-ghost-color: @component-background;
