@import "../../styles/vars.less";

// 尺寸
@btn-height-default: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;

// 字号
@btn-font-size-default: @font-size-base;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-sm;

// 圆角
@btn-border-radius: @border-radius-base;
@btn-shape-border-radius-default: (@btn-height-default / 2);
@btn-shape-border-radius-lg: (@btn-height-lg / 2);
@btn-shape-border-radius-sm: (@btn-height-sm / 2);

// Border
@btn-border-width: @border-width-base;
@btn-border-style: @border-style-base;


@btn-default-color: @black;
@btn-default-bg: @grey-300;
@btn-default-bg-hover: @grey-A100;
@btn-default-border: @border-color-base;

@btn-primary-color: @white;
@btn-primary-bg: @primary-color;
@btn-primary-bg-hover: @primary-dark-color;

@btn-secondary-color: @white;
@btn-secondary-bg: @secondary-color;
@btn-secondary-bg-hover: @secondary-dark-color;

@btn-warning-color: @white;
@btn-warning-bg: @warning-color;
@btn-warning-bg-hover: @warning-dark-color;

@btn-success-color: @white;
@btn-success-bg: @success-color;
@btn-success-bg-hover: @success-dark-color;

@btn-error-color: @white;
@btn-error-bg: @error-color;
@btn-error-bg-hover: @error-dark-color;
@btn-error-border: @error-color;

@btn-info-color: @white;
@btn-info-bg: @info-color;
@btn-info-bg-hover: @info-dark-color;

@btn-disable-color: @disabled-color;
@btn-disable-bg: @disabled-bg;
@btn-disable-border: @disabled-color;

@btn-default-ghost-color: @component-background;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @component-background;

@btn-padding-horizontal-base: @padding-md - 1px;
@btn-padding-horizontal-lg: @btn-padding-horizontal-base;
@btn-padding-horizontal-sm: @padding-xs - 1px;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

@btn-square-size: @btn-height-base;
@btn-square-size-lg: @btn-height-lg;
@btn-square-size-sm: @btn-height-sm;
@btn-square-only-icon-size: @font-size-base + 2px;
@btn-square-only-icon-size-sm: @font-size-base;
@btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

@btn-icon-font-size: 20px;
@btn-icon-font-size-lg: @btn-icon-font-size + 2px;
@btn-icon-font-size-sm: @btn-icon-font-size - 2px;

@btn-group-border: @primary-color;

@btn-link-ghost-color: @component-background;
