@import "../../styles/vars.less";

@space-prefix-cls: ~"@{mccree-prefix}-space";

.@{space-prefix-cls} {
    display: inline-flex;

    &-horizontal {
        align-items: center;
    }
    &-vertical {
        flex-direction: column;
    }
}

.mccree-space-item {
    margin-right: 100px;
    background-color: red;
}
