@import "../../styles/vars.less";
@import "../../styles/reset.less";

@select-prefix-cls: ~"@{mccree-prefix}-select";
@selector-prefix-cls: ~"@{select-prefix-cls}-selector";
@dropdown-prefix-cls: ~"@{select-prefix-cls}-dropdown";
@option-prefix-cls: ~"@{select-prefix-cls}-option";

.@{select-prefix-cls} {
    .reset-component;

    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 0 28px 0 8px;

    &:hover {
        border-color: var(--primary-color);
    }

    &-open::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        left: -1px;
        bottom: -1px;
        border-radius: inherit;
        border: 2px solid var(--primary-color);
    }

    .@{option-prefix-cls} {
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: inherit;
        // font-weight: normal;
        &:hover {
            padding: 0;
            margin: 0;
            background-color: transparent;
            color: inherit;
            // font-weight: normal;
        }
    }
}

.@{dropdown-prefix-cls} {
    box-shadow: var(--shadow-5);
    background: var(--white);
    width: 100%;
    border-radius: 4px;
    top: 2px !important;
    padding: 5px 0;
}

.@{option-prefix-cls} {
    .reset-component;

    padding: 0 8px;
    min-height: 30px;
    line-height: 30px;

    &:hover {
        background: #faf9f8;
    }

    &-selected {
        background: #edebe9;
        // font-weight: bold;
    }

    &-disabled {
        color: @disabled-color;

        &:hover {
            background: transparent;
            cursor: not-allowed;
        }
    }
}
