@import "../../styles/vars.less";
@import "../../styles/reset.less";

@select-prefix-cls: ~"@{mccree-prefix}-select";
@selector-prefix-cls: ~"@{select-prefix-cls}-selector";
@dropdown-prefix-cls: ~"@{select-prefix-cls}-dropdown";
@option-prefix-cls: ~"@{select-prefix-cls}-option";

.@{select-prefix-cls} {
    .reset-component;

    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;

    .@{option-prefix-cls} {
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: inherit;
        &:hover {
            padding: 0;
            margin: 0;
            background-color: transparent;
            color: inherit;
        }
    }

    .multiple-select-item {
        display: inline-flex;
        align-items: center;
        line-height: 1;
        padding: 0 8px;
        background-color: #eaeaea;
        border-radius: 4px;
        height: 28px;
    }

    &-selector {
        border: 1px solid rgba(0, 0, 0, 0.23);
        padding: 0 11px;
        border-radius: 4px;
        min-height: 36px;
        line-height: 36px;

        &:hover {
            border-color: var(--primary-color);
        }

        .@{select-prefix-cls}-open &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: -1px;
            right: -1px;
            left: -1px;
            bottom: -1px;
            border-radius: inherit;
            border: 2px solid var(--primary-color);
        }

        .@{select-prefix-cls}-disabled & {
            background-color: var(--disabled-bg);
            color: var(--disabled-color);
            border-color: transparent;
            cursor: not-allowed;
        }
    }

    &-arrow {
        position: absolute;
        right: 11px;
        top: 12px;
        color: var(--disabled-color);
        line-height: 1;
        text-align: center;
        pointer-events: none;
    }

    &-clear {
        position: absolute;
        right: 26px;
        top: 12px;
        color: var(--disabled-color);
        line-height: 1;
        text-align: center;
        opacity: 0;

        .@{select-prefix-cls}:hover & {
            opacity: 1;
        }
    }
}

.@{dropdown-prefix-cls} {
    box-shadow: var(--shadow-5);
    background: var(--white);
    width: 100%;
    border-radius: 4px;
    top: 2px !important;
    padding: 5px 0;
}

.@{option-prefix-cls} {
    .reset-component;

    padding: 0 11px;
    height: 36px;
    line-height: 36px;

    &:hover {
        background: #faf9f8;
    }

    &-selected {
        background: #edebe9;
    }

    &-disabled {
        color: var(--disabled-color);

        &:hover {
            background: transparent;
            cursor: not-allowed;
        }
    }

    &-label {
        color: var(--primary-color);
        padding-left: 8px;

        &:hover {
            background: transparent;
        }
    }

    &-divider {
        height: 0;
        line-height: 0;
        border-top: 1px solid #eee;
    }
}
