.btn() {
    position        : relative;
    display         : inline-block;
    font-weight     : @btn-font-weight;
    white-space     : nowrap;
    text-align      : center;
    background-image: none;
    border          : @btn-border-width @btn-border-style transparent;
    box-shadow      : @btn-shadow;
    cursor          : pointer;
    transition      : all 0.3s @ease-in-out;
    user-select     : none;
    touch-action    : manipulation;
}