.btn-size(@height; @padding-horizontal; @font-size; @border-radius) {
    @padding-vertical: max(round((@height - @font-size * @line-height-base) / 2 * 10) / 10 - @border-width-base, 0);

    height       : @height;
    padding      : @padding-vertical @padding-horizontal;
    font-size    : @font-size;
    border-radius: @border-radius;
}

.btn-color(@color; @background; @border) {
    color           : @color;
    background-color: @background;
    border-color    : @border;

    >a:only-child {
        color: currentColor;

        &::after {
            position  : absolute;
            top       : 0;
            right     : 0;
            bottom    : 0;
            left      : 0;
            background: transparent;
            content   : '';
        }
    }
}

.btn() {
    position        : relative;
    display         : inline-block;
    font-weight     : @btn-font-weight;
    white-space     : nowrap;
    text-align      : center;
    background-image: none;
    border          : @btn-border-width @btn-border-style transparent;
    box-shadow      : @shadow-2;
    cursor          : pointer;
    transition      : all 0.3s @ease-in-out;
    user-select     : none;
    touch-action    : manipulation;

    .btn-size(@btn-height-base; @btn-padding-horizontal-base; @font-size-base; @btn-border-radius-base );

    // >.@{iconfont-css-prefix} {
    //     line-height: 1;
    // }

    &,
    &:active,
    &:focus {
        outline: 0;
    }

    &:not([disabled]):hover {
        text-decoration: none;
    }

    &:not([disabled]):active {
        outline      : 0;
        // box-shadow: none;
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;

        >* {
            pointer-events: none;
        }
    }

    &-lg {
        .btn-size(@btn-height-lg; @btn-padding-horizontal-lg; @btn-font-size-lg; @btn-border-radius-base );
    }

    &-sm {
        .btn-size(@btn-height-sm; @btn-padding-horizontal-sm; @btn-font-size-sm; @btn-border-radius-sm );
        line-height: @btn-height-sm - 2px;
    }
}

.btn-variant-type(@color; @bg-color; @bg-hover-color) {
    .btn-color(@color, @bg-color, @bg-color);

    text-shadow   : @btn-text-shadow;
    // box-shadow : @shadow-2;

    &:hover {
        .btn-color(@color, @bg-hover-color, @bg-hover-color);
        // box-shadow: @shadow-4
    }

    // &:active {
    //     box-shadow: @shadow-8;
    // }
}

.btn-default() {
    .btn-color(@btn-default-color, @btn-default-bg, @btn-default-bg);

    &:hover {
        .btn-color(@btn-default-color, @btn-default-bg-hover, @btn-default-bg-hover);
        box-shadow: @shadow-4
    }

    &:active {
        box-shadow: @shadow-8;
    }
}

.btn-primary() {
    .btn-variant-type(@btn-primary-color, @btn-primary-bg, @btn-primary-bg-hover);
}

.btn-secondary() {
    .btn-variant-type(@btn-secondary-color, @btn-secondary-bg, @btn-secondary-bg-hover);
}

.btn-warning() {
    .btn-variant-type(@btn-warning-color, @btn-warning-bg, @btn-warning-bg-hover);
}

.btn-success() {
    .btn-variant-type(@btn-success-color, @btn-success-bg, @btn-success-bg-hover);
}

.btn-error() {
    .btn-variant-type(@btn-error-color, @btn-error-bg, @btn-error-bg-hover);
}

.btn-info() {
    .btn-variant-type(@btn-info-color, @btn-info-bg, @btn-info-bg-hover);
}